<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Applications</key>
	<dict/>
	<key>Build Version</key>
	<string>19F77</string>
	<key>Device Name</key>
	<string>iPhone</string>
	<key>Display Name</key>
	<string>iPhone</string>
	<key>GUID</key>
	<string>F7836CCB59198ED580E15C2C9EE8D674</string>
	<key>IMEI</key>
	<string>356088095046335</string>
	<key>Installed Applications</key>
	<array/>
	<key>Last Backup Date</key>
	<date>2022-07-19T01:16:03Z</date>
	<key>Product Type</key>
	<string>iPhone10,4</string>
	<key>Product Version</key>
	<string>15.5</string>
	<key>Serial Number</key>
	<string>DV6XK0NWJC67</string>
	<key>Target Identifier</key>
	<string>ad09186179f31a88dd6ee2c8f2d034025f54c82a</string>
	<key>Target Type</key>
	<string>Device</string>
	<key>Unique Identifier</key>
	<string>ad09186179f31a88dd6ee2c8f2d034025f54c82a</string>
	<key>iTunes Files</key>
	<dict>
		<key>IC-Info.sidv</key>
		<data>
		AAEAARRQfQLRd+eV+dxMQY+iiz3WoAyFqF+m2csu+YRNhmH3VjiAyQ8AzT3Q
		7KKvTXd3Dxkkvr6vUBlZsrC9r1YUDQs8Oa9yye1fUdbuzeQ1ZOssWnQgi6ZQ
		ltKgpcCKUWeoGkUnRXxAo13NwJKn08M3eAjeY9AQtzwhBSAF9guOefo7R/R9
		E/t2nTyMH+0tRFi0d5QpozRddT2VYLvicncFb2vElRqBtmrasVsOsEw44iM7
		uyx4a5YtF/AVpgQJKLU0bTJPWaRdCCKFiJiF3wHdTVC3WNGbf4UfyVxeV2Vb
		9eTRfLkNXptiWk8SgAkvUWnYyOeuaQG9fQaTYG877g45lLeCfAjQCtFqfP9m
		unsVTydNedAPbO5WWKQLPE2HvXR4yzHqqxXhMXfEjFAL5/nc2/Kp3RBKtL8t
		OF8HqbzVqd3e89EuRZYn+dBj+wVHr9/hqcKcM1Z9LhRM4fMkf31Y+rqCGOBH
		XzGY/NmIYbVj7Eu87LH5EN6TW0mfNy6pAkt0UHYLRTPeQJNcZUTTD+ujelYS
		TPk5HkOrxhh/DY8cfK/lydH5R7ksTWVQPsKjGyaYLnCNLMCR9R1FXqeMYuWr
		tbNvJcwCKsyZe2GzzLeRCXa8f5FRICnAcSmj2+AOWBz5KRAzbSzo4fbJp70j
		P/Gw1S4CrKH419Y26mLXUBSztqjiPL8RfDZgaAN0by413pYfnHPYgngoftuz
		O5fBzad8v5GigG0uUcYc6+utEeCaoyDgLHNx0LkB7Jai0p6kERFDINReL3a3
		YUeg2M+1ACBKwDoOCUi6yfdWFI748LHpo2w1Ru8cJzyBN6OZgjfOOvI18lDt
		L/kR08gET7y5U3ZtBWvj3bZmfyEEODHrykxr1xCCMoQ6rRwt3dk2pHJuYjeB
		qsufnpkRuRZB8NfntMkCUhdh3VW5A9qjraTgN8UObS1PtlB7wHkFJg0FZ76r
		2OAu9DKRhl58i0BVDZTWTt/Kiav8BCcQ98+jnUGr+5a7X29GQ1kROfXEOg2d
		GUQB2YcsokN7ikD7SCdim6p02yDDvtUlOeLOqscMvp8LIlOTVfPcHEL2oF8F
		OaXNoGwmhKlAUreFiNplZL8sEqi6/EdrvHzETXcih1p/xTxgTAz+b9jzk5Jn
		547esh3QvWB2Rn5Lyx/wGFLKInfCkTTilveaCppn5AUjS4sm5Q2J989PMVGs
		uW6d9V+ES2e1wjB13JnRnPGAmYfv9YQ5GwifzksICSAha41hkwY3TuHnBmj1
		Hl+rudOJErRA0vb91tMB48gDsO6N6+Md8HFDic2WeeKD0vd5IYoW1SbTpkIk
		HPNlXx2JE0J6ah8aSjTAPt4bDYD8aU39X9V4DXwyWramiVmYf+MDFjyU3AmE
		1Axm2tK9D7aSJ+7MtZeCqSEDLQ9NlvppJTn5KCvEgTB1uEycvCJ5bfK0ho8P
		nWQ6LM/gRfIdrlkS/LKkPQ9qzsEi3WMvbPkv3tVi0K3mRrVaojhpK0hQj3iq
		joexABOaLp648Vm08CME
		</data>
	</dict>
	<key>iTunes Settings</key>
	<dict/>
	<key>iTunes Version</key>
	<string>12.7.0</string>
</dict>
</plist>
